<div style="margin-bottom: 50px">
    <div class="center green lighten-2 row" style="padding: 48px 0 48px">
        <h3 class="card col s10 m6 offset-s1 offset-m3" style="padding: 16px 0 16px">Create Coupon</h3>
    </div>

    <br>
    <div class="container">
        <div style="position: relative">
            <form [formGroup]="addCouponForm" (ngSubmit)="addCoupon()" class="card green lighten-4 row" >
                <div class="row">
                    <div class="card input-field col s10 offset-s1">
                        <h5>Title</h5>
                        <input placeholder="Breakfast in bed" formControlName="title" type="text" style="font-size: x-large">
                    </div>
                    <div class="card input-field col s10 m7 offset-s1 offset-m1">
                        <h5>Short Description</h5>
                        <input placeholder="Redeem for a day where you get to eat breakfast in bed" formControlName="desc" type="text" style="font-size: large">
                    </div>
                    <div class="col s2 offset-s4 m1 offset-m0" style="margin-top: 36px;">
                        <i class="mdi mdi-48px mdi-cookie"></i>
                    </div>
                    <div class="card input-field col s2">
                        <h5>Price</h5>
                        <input formControlName="price" step="50" type="number" style="font-size: x-large">
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light green col s10 offset-s1 m4 offset-m7" type="submit" [disabled]="!addCouponForm.valid" style="font-size: larger;">Create!
                        <i class="mdi mdi-18px mdi-send"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

