<div class="center green lighten-2 row" style="padding: 48px 0 48px">
    <h3 class="card col s10 m4 offset-s1 offset-m4" style="padding: 16px 0 16px">Add Users</h3>
</div>

<div class="container">
    <div *ngFor="let user of users | async" class="row center">
        <div class="col s12 m6 offset-m3 offset-s0">
            <div class="card">
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" (click)="createPair(user)"><i class="mdi mdi-24px mdi-plus"></i></a>
                <div class="card-content" style="font-size: xx-large;">
                    {{user.username}}
                </div>
            </div>
        </div>
    </div>
</div>

