<div class="row green white-text center" style="bottom:0; position: fixed; width: 100%; margin-bottom: 0; z-index: 1;">
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['add']">
        <h5 class="hide-on-small-only">Add User</h5>
    </div>
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['send']">
        <h5 class="hide-on-small-only">Send Points</h5>
    </div>
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['spend']">
        <h5 class="hide-on-small-only">Spend Points</h5>
    </div>
</div>