<div class="row green white-text center" style="bottom:0; position: fixed; width: 100%; margin-bottom: 0; z-index: 2;">
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['add']">
        <h5 class="hide-on-small-only">Add User</h5>
        <i class="mdi mdi-36px mdi-plus hide-on-med-and-up"></i>
        <i class="mdi mdi-36px mdi-account hide-on-med-and-up"></i>
    </div>
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['send']">
        <h5 class="hide-on-small-only">Send Points</h5>
        <i class="mdi mdi-36px mdi-cookie hide-on-med-and-up"></i>
        <i class="mdi mdi-36px mdi-arrow-right hide-on-med-and-up"></i>
    </div>
    <div class="col s4 hoverable" style="cursor: pointer;" [routerLink]="['spend']">
        <h5 class="hide-on-small-only">Spend Points</h5>
        <i class="mdi mdi-36px mdi-cash-usd hide-on-med-and-up"></i>
        <i class="mdi mdi-36px mdi-cookie hide-on-med-and-up"></i>
    </div>
</div>