<div id="header">
    <div class="center green lighten-2 row" style="padding: 64px 0 64px">
        <h2 class="card col s10 offset-s1 m4 offset-m4" style="padding: 16px 0 16px">Coupon Point</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light green col s12 m6 offset-m3" type="submit" name="action">Login
                    <i class="mdi mdi-18px mdi-send"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="row center">
        <h6>Need an account?</h6>
        <button class="btn waves-effect waves-light green col s12 m6 offset-m3" [routerLink]="['/register']">Register
            <i class="mdi mdi-18px mdi-account-plus"></i>
        </button>
    </div>
</div>
